<%= render 'header', :title => 'Update user' %>

<section class="main-content">
	<%= render "flashes" -%>

	<%= simple_form_for @user do |form| %>
	  <%= form.input :email, disabled: true %>
	  <%= form.input :admin %>
	  <%= form.button :submit %>
	<% end %>
</section>




