<table>
  <tr>
    <th>Slack username</th>
    <th>Sent on</th>
    <th>Sent at</th>
    <th>Message body</th>
    <th>Error message</th>
  </tr>

  <% @sent_scheduled_messages.each do |sent_message| %>
    <tr>
      <td><%= sent_message.slack_username %></td>
      <td><%= sent_message.sent_on %></td>
      <td><%= display_local_time_zone(sent_message) %></td>
      <td><%= truncate(sent_message.message_body, length: 50, separator: ' ') %></td>
      <td><%= sent_message.error_message %></td>
    </tr>
  <% end %>
<table>

<%= paginate(@sent_scheduled_messages) %>
