<%= simple_form_for @scheduled_message do |form| %>
  <%= form.input :title,
    hint: "This is for identifying purposes only, the employee will not see the message title" %>
  <%= form.input :body, label: "Message body",
    hint: "Don't forget, you can format your message using #{link_to "Slack's message formatting rules",
    "https://slack.zendesk.com/hc/en-us/articles/202288908-Formatting-your-messages", target: "_blank"}.".html_safe %>
  <%= check_box_tag :quarterly, checked: false %> Quarterly
  <div style="display:none; margin-bottom: 1.5em;" class="quarterly_message_explanation">
    This message will be sent to all employees quarterly
  </div>
  <%= form.hidden_field :message_time_frame, value: :onboarding %>
  <%= form.input :days_after_start, label: "Business days after employee starts to send message" %>
  <%= form.input :time_of_day, label: "Time of day to send message (uses employee's local time zone)", ampm: true, input_html: {class: "date-time-select"} %>
  <%= form.input :end_date, label: "End date",
    hint: "If this message is only valid for a limited time, enter its end date here",
   input_html: {class: "date-select"}, include_blank: true %>
  <%= form.input :tag_list, label: "Tags", hint: "Separate tags with commas to enter multiple tags at once.", input_html: {value: @scheduled_message.tag_list.to_s} %>
  <%= form.button :submit %>
<% end %>

