<header class="filter-area">
  <h3>Filter by<label><i>Please separate tags with a comma</i></label></h3>
  <%= form_tag(scheduled_messages_path, method: "get", class: "navbar-form", slack_username: "search-form") do %>
    <div class="input-append">
      <%= text_field_tag :title, params[:title], class: "filter-input", placeholder: "title" %>
      <%= text_field_tag :body, params[:body], class: "filter-input", placeholder: "body" %>
      <%= text_field_tag :tag, params[:tag], class: "filter-input", placeholder: "tags" %>

      <button class="btn filter-buttom" type="submit"><i class="icon-search"></i>Filter</button>
    </div>
  <% end %>
</header>

<table>
  <tr>
    <th>Send day (after employee start)</th>
    <th>Send time</th>
    <th>Title</th>
    <th>Body</th>
    <th>Tags</th>
    <th></th>
    <th></th>
  </tr>

  <% @scheduled_messages.each do |message| %>
    <tr>
      <td><%= message.days_after_start %></td>
      <td><%= message.time_of_day.strftime("%l:%M %p") %></td>
      <td><%= message.title %></td>
      <td><%= truncate(message.body, length: 100) %></td>
      <td><%= message.tag_list.join(", ") %></td>
      <td><%= link_to "Edit", edit_scheduled_message_path(message) %></td>
      <td><%= link_to "Test", new_scheduled_message_test_message_path(message) %></td>
    </tr>
  <% end %>
</table>
<% if @scheduled_messages.count == 0 %>
  <label>No matches found.</label>
<% end %>
