<table>
  <tr>
    <th>Send day (after employee start)</th>
    <th>Title</th>
    <th>Body</th>
    <th>Tags</th>
    <th></th>
    <th></th>
  </tr>

  <% @scheduled_messages.each do |message| %>
    <tr>
      <td><%= message.days_after_start %></td>
      <td><%= message.title %></td>
      <td><%= message.body %></td>
      <td><%= message.tag_list.join(", ") %></td>
      <td><%= link_to "Edit", edit_scheduled_message_path(message) %></td>
      <td><%= link_to "Test", new_scheduled_message_test_message_path(message) %></td>
    </tr>
  <% end %>
</table>
