<h2> Add a new scheduled message </h2>
<%= simple_form_for @scheduled_message do |form| %>
  <%= form.input :title,
    hint: "This is for identifying purposes only, the employee will not see the message title" %>
  <%= form.input :body, label: "Message body" %>
  <%= form.input :days_after_start, label: "Days after employee starts to send message" %>
  <%= form.button :submit %>
<% end %>
