<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= (yield(:title) || "Untitled") %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= favicon_link_tag '18F_Logo/favicons/favicon-16x16.png' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <aside class="container-banner banner">

    <div class="banner-head">
      <%= link_to root_path do %>
        <%= image_tag "dolores.jpg", class: "banner-image_small" %>
      <% end %>
      <h1 class="banner-header">Dolores Landingham</h1>
      <p class="banner-text">A Slack bot to welcome new 18F hires with the authority and compassion of Mrs. Landingham</p>
    </div>

    <ul class="usa-accordion sidenav-list">
      <% if @current_user.admin? %>
        <li class="sidenav-list-item">
          <button class="sidenav-list_title" aria-expanded="<%= is_current(users_path) -%>" aria-controls="collapsible-0">
            Users
            <icon class="icon-circle-plus"></icon>
            <icon class="icon-circle-minus"></icon>
          </button>
          <ul id="collapsible-0" aria-hidden="<%= !is_current(users_path) -%>" class="sidenav-sub_list usa-accordion-content">
            <% if @current_user.admin? %>
              <%= nav_link "View/Edit", users_path %>
            <% end %>

          </ul>
        </li>
      <% end %>
      <li class="sidenav-list-item">
        <button class="sidenav-list_title" aria-expanded="<%= is_current(scheduled_messages_path) -%>" aria-controls="collapsible-1">
          Scheduled messages
          <icon class="icon-circle-plus"></icon>
          <icon class="icon-circle-minus"></icon>
        </button>
        <ul id="collapsible-1" aria-hidden="<%= !is_current(scheduled_messages_path) -%>" class="sidenav-sub_list usa-accordion-content">
          <% if @current_user.admin? %>
            <%= nav_link "Create", new_scheduled_message_path %>
          <% end %>
          <%= nav_link "List/Edit", scheduled_messages_path  %>
        </ul>
      </li>
      <li class="sidenav-list-item">
        <button class="sidenav-list_title" aria-expanded="<%= is_current(employees_path) -%>" aria-controls="collapsible-2">
          Employees
          <icon class="icon-circle-plus"></icon>
          <icon class="icon-circle-minus"></icon>
        </button>
        <ul id="collapsible-2" aria-hidden="<%= !is_current(employees_path) -%>" class="sidenav-sub_list usa-accordion-content">
          <%= nav_link "Add", new_employee_path %>
          <%= nav_link "List/Edit", employees_path %>
        </ul>
      </li>
      <li class="sidenav-list-item">
        <button class="sidenav-list_title" aria-expanded="<%= is_current(sent_scheduled_messages_path) -%>" aria-controls="collapsible-3">
          Sent messages
          <icon class="icon-circle-plus"></icon>
          <icon class="icon-circle-minus"></icon>
        </button>
        <ul id="collapsible-3" aria-hidden="<%= !is_current(sent_scheduled_messages_path) -%>" class="sidenav-sub_list usa-accordion-content">
          <%= nav_link "List", sent_scheduled_messages_path %>
        </ul>
      </li>
    </ul>


  </aside>


  <section class="container-content inner-content">
    <%= yield %>
  </section>
  <%= render "javascript" %>
</body>
</html>
