<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= (yield(:title) || "Untitled") %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= favicon_link_tag '18F_Logo/favicons/favicon-16x16.png' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <aside class="container-banner banner">

    <div class="banner-head">
      <%= link_to root_path do %>
        <%= image_tag "dolores.jpg", class: "banner-image_small" %>
      <% end %>
      <h1 class="banner-header">Dolores Landingham</h1>
      <p class="banner-text">A Slack bot to welcome new 18F hires with the authority and compassion of Mrs. Landingham</p>
    </div>

    <ul class="usa-accordion sidenav-list">
      <% if signed_in? %>
        <% if signed_in_as_admin? %>
          <%= render 'layouts/admin_sidenav_items'%>
        <% end %>
        <%= render 'layouts/sidenav_items'%>
      <% end %>
    </ul>
  </aside>

  <section class="container-content inner-content">
    <%= yield %>
  </section>
  <%= render "javascript" %>
</body>
</html>